/**
 * itemListMypage
 */
.p-list-mypage-cover {
    & .p-search {
        border: $space_m solid $site-color-corp;
        padding: 20px;
        margin: 0 $space_l;
        margin-bottom: $space_xxl;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include mq(pc) {
            justify-content: left;
        }

        & .c-button {
            width: 100%;
            text-align: center;
            font-size: $font-size_m;
            @include mq(tablet) {
                font-size: $font-size_l;
            }
            @include mq(pc) {
                width: auto;
            }
        }
    }

    & h3 {
        font-size: $font-size_xl;
        margin: 0 $space_l;
        margin-bottom: $space_xl;
        & span {
            border-bottom: 1px solid black;
        }
    }

    & .p-list {
        margin: 0 $space_l;
        flex-basis: 80%;

        & ul:nth-of-type(1) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: column;

            @include mq(tablet) {
                flex-direction: row;
            }

            @include mq(pc) {
                &::after {
                    content: "";
                    display: block;
                    width: 32%;
                }
            }
        }

        & ul:nth-of-type(2) {
            width: 100%;
            margin: 0 auto;
            margin-top: $space_l;
            display: flex;
            overflow-x: scroll;
            @include mq(tablet) {
                width: 100%;
                margin: 0 auto;
                justify-content: center;
            }
            @include mq(pc) {
                width: 290px;
                overflow-x: visible;
                margin: 0 auto;
            }

            & li {
                font-size: $font-size_l;
                border: 3px solid $site-color-corp;
                padding: $space_l;
                margin: 0 $space_s;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    color: white;
                    background-color: $site-color-corp;
                }

                &.active {
                    color: white;
                    background-color: $site-color-corp;
                }

                &.disable {
                    cursor: not-allowed;

                    &:hover {
                        color: black;
                        background-color: white;
                    }
                }
            }

            & li:first-of-type {
                margin-left: 0;
            }

            & li:last-of-type {
                margin-right: 0;
            }
        }

        & .c-button {
            display: inline-block;
            margin: $space_xxl 0;
        }
    }

    & .p-not-list {
        text-align: center;
        margin: $space_xl 0;
        @include mq(tablet) {
            width: 100%;
        }
    }
}
