/* Header
   ----------------------------------------------------------------- */
.l-header {
    color: white;
    background-color: $site-color-corp;
    position: fixed;
    z-index: 1;
    width: 100vw;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $site-width;
        margin: 0 auto;
        padding: $space_l 0;
    }
    &__logo {
        font-size: $font-size_3l;
    }
    &__hamburger {
        cursor: pointer;
        & span {
            display: block;
            background-color: white;
            width: 30px;
            height: 2px;
            margin-bottom: $space_s;
            transition: all 0.5s;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &.is-active {
            span {
                margin-bottom: 0;
                &:nth-of-type(1) {
                    transform: translateY(1px) rotate(45deg);
                }
                &:nth-of-type(2) {
                    display: none;
                }
                &:nth-of-type(3) {
                    transform: translateY(-1px) rotate(-45deg);
                }
            }
        }
    }
}
